{% extends 'core/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="max-w-6xl mx-auto p-6">
    <h1 class="mb-5 text-3xl">About Us</h1>
    <p class="mb-6">
        Welcome to Yoloshoppe, your ultimate destination for all your shopping needs! We are a team of passionate entrepreneurs who 
        are dedicated to providing you with a seamless online shopping experience. Our store is designed to be user-friendly, so you 
        can easily find what you're looking for and have it delivered right to your doorstep.
        <br><br>
        At Yoloshoppe, we are committed to offering only the highest quality products at competitive prices. Our product selection is 
        carefully curated to ensure that we offer the latest and greatest products that are both functional and stylish. We are 
        constantly updating our inventory with new and exciting products, so be sure to check back often to see what's new.
        <br><br>
        Our team is committed to providing excellent customer service and support. We are always here to help you with any questions or 
        concerns you may have, and we will do our best to ensure that you are completely satisfied with your purchase. We take pride 
        in offering fast and reliable shipping, so you can get your products delivered to you quickly.
        <br><br>
        At Yoloshoppe, we believe that shopping should be fun and enjoyable. That's why we offer a wide variety of products in various 
        categories, including fashion, home decor, electronics, and more. Our goal is to provide you with a seamless shopping experience 
        from start to finish.
        <br><br>
        Thank you for choosing Yoloshoppe for all your online shopping needs. We appreciate your business and look forward to serving you!
        <br>
        Contact us at : admin@yoloshoppe.com | +91 5555544444
        <br><br>
        <strong> Kindly use the Test Stripe Card 4242 4242 4242 4242 to give us fake money on the stripe checkout gateway </strong>
    </p>
</div>
{% endblock %}